@import "../../lib/styles/index.scss";

.footerSection {
    @include flex(row, flex-start, center);
    width: $w-screen;
}

.copyRight {
    color: $color-black-soft;
    font-size: size(14);
    text-align: center;
    padding-bottom: size(16);
}

.midtransDummyContainer {
    width: 400px;
    height: 200px;
}


.footerContainer {
    @include flex(row, flex-start, space-between);
    min-width: size(1124);
    width: size(1124);
    max-width: size(1124);
    padding: size(40) 0;

}

.information {
    @include flex(column, flex-start, center);
    gap: size(30);
    position: relative;
    max-width: size(286);

    p {
        opacity: .7;
    }

    img {
        position: relative !important;
        max-width: size(139);
        height: size(50);
    }
}

.listMenuContainer {
    @include flex(row, flex-start);
    gap: size(50);
}

.listItem {
    @extend .listMenuInner;
}

.flex {
    @include flex(row, center, space-between);
    gap: size(13);

    &>div {
        a {
            font-size: size(24);
        }

        &:first-child {
            svg:hover {
                color: $color-white;
                background: linear-gradient(45deg,
                        #feda75,
                        #fa7e1e,
                        #d62976,
                        #962fbf,
                        #4f5bd5) !important;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &:last-child {
            svg:hover {
                color: $color-danger ;
            }
        }
    }
}

.listMenuInner {
    @include flex(column, flex-start, flex-start);
    gap: size(10);

    h3 {
        font-size: size(16);
        margin-bottom: size(30);
    }

    a {
        color: $color-black;
        opacity: .7;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.3s ease;
        position: relative;
        padding: 5px 0;

        &:hover {
            color: $color-primary;
            opacity: 1;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: #1a6fb0;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.kemenkesCertified {
    font-weight: $bold;
    font-size: size(12);
    color: $color-black;

    p {
        margin-top: size(8);
    }

    button {
        padding: 0;
        margin-left: size(-5);

        &:hover {
            transition: transform 0.5s;
            transform: translateY(-2px);
        }

        &:after {
            content: "";
            width: size(16);
            height: size(8);
            margin-left: size(4);
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="8" viewBox="0 0 16 8" fill="none"><path d="M12.01 3H0V5H12.01V8L16 4L12.01 0V3Z" fill="%230D4D8B"/></svg>');
        }
    }
}


@media (max-width: 768px) {



    .footerSection,
    .footerContainer {
        @include flex(column, flex-start, center);
        padding: size(16);
    }

    .footerContainer {
        padding: size(0);
    }

    .information {
        gap: size(16);
    }

    .listMenuInner {
        width: $w-screen;
    }

    .listMenuContainer {
        display: block;
        column-count: 2;
        gap: 16px;
        margin-top: size(32);
        max-width: 100vw;

        h3,
        a {
            break-inside: avoid; // biar elemen ga kepotong
            display: block;
        }


        h3 {
            margin-bottom: size(6);

            &:not(:first-child) {
                margin-top: size(6);
            }
        }

        a {
            margin-bottom: size(0);
        }
    }

}