@use "../../../lib/styles/_index.scss" as *;

.container {
    padding: size(36) 0 size(189);
}

.myOrderItemContainer {
    margin-top: size(16);

    [class*="sharedCardContainer"] {
        padding: size(10);
        margin-bottom: size(16);

    }
}

.orderIdHeader {
    @include flex(row, center, flex-start);
    position: relative;
    padding: size(12) 0 size(20) 0 !important;
    border-bottom: $half solid $color-border-neutral;

    p:first-child {
        font-size: size(24);
        font-family: $medium;
    }

    b {
        font-size: size(24);
    }

    [class*='ant-badge'] {
        sup {
            background-color: #44c2891d !important;
            color: #44C289 !important;
        }
    }
}

.itemDetails {
    position: relative;

}

.itemDetailsLink {
    &:hover {
        opacity: .5;
    }

}

.priceContainer {
    @include position(absolute, auto, 0, 0);

    span {
        font-weight: $bold;
        font-size: size(16);
    }
}

.cartItem {
    @include grid(2, size(14));
    grid-template-columns: size(100) auto;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    position: relative;

    img {
        width: size(100);
        max-width: size(100);
        height: size(100);
        max-height: size(100);
        border-radius: size(5);
    }

    &:last-child {
        border-bottom: none;
    }
}

.badgeContainer {
    @include flex(row, center, flex-start);
    gap: size(4);
}

.itemHospital {
    font-size: size(10);
    color: $text-soft-gray;
    margin-bottom: size(4);
    text-align: left;
}

.dateTraining {
    font-size: size(12);
    color: $text-soft-gray;
    font-weight: $medium;
}

.payNow {
    margin-top: size(20) !important;
}

.statusPayment {
    @include position(absolute, size(0), size(0), auto, auto, true);
}



@media (max-width: 768px) {
    .statusPayment {
        @include position(absolute, size(0), size(0), auto, auto, true);
    }

    .priceContainer {
        @include position(relative, auto, 0, 0);
    }

    .orderIdHeader {
        @include flex(column, flex-start, center);
        position: relative;
    }

}