@use "../lib/styles" as *;

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 40svh;
  max-width: size(1128);
  margin: 0 auto;
  font-family: var(--font-geist-sans);

  @media (max-width: 768px) {
    max-width: calc(100vw - 1rem);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 5rem;
}