@import '../../lib/styles/index.scss';


.productGrid {
    @extend .scrollbar_product_carouser;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: auto;
    padding: size(16) size(0) size(6);

    [class*='card'] {
        min-width: size(270);
        max-width: size(270);
        width: size(270);
        height: fit-content;
    }
}

// Tombol navigasi
.productNavButton {
    box-shadow: $box-shadow;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    width: size(40);
    height: size(40);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    background: $color-secondary !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;

    svg {
        color: $color-primary;
    }

    &:hover {
        background: $color-primary !important;

        svg {
            color: $color-white;
        }

    }

    &:disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.productNavButtonLeft {
    left: size(8);
}

.productNavButtonRight {
    right: size(8);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.productImage {
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
    .productNavButton {
        width: 36px;
        height: 36px;
    }

    .productNavButtonLeft {
        left: size(2);
    }

    .productNavButtonRight {
        right: size(2);
    }
}