@use "../../lib/styles" as *;


.productGrid {
    @extend .scrollbar_product_carousel;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: auto;
    padding: size(16) size(0) size(6);

    [class*='buttonContainer'] {
        width: fit-content;
    }
}

.linkToAll {
    @include flex(row, center, center);
    height: $w-full;
    height: $w-full;
}

// Tombol navigasi
.productNavButton {
    box-shadow: $box-shadow;
    position: absolute !important;
    top: 45%;
    transform: translateY(-50%);
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 50% !important;
    width: size(40) !important;
    min-width: size(40) !important;
    max-width: size(40) !important;
    height: size(40) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    background: $color-secondary !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.2s;

    svg {
        color: $color-white;
    }

    &:disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.productNavButtonLeft {
    left: size(0);
}

.productNavButtonRight {
    right: size(0);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.productImage {
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {

    .productGrid {
        margin-left: size(-8);
    }

    .productNavButton {
        display: none !important;
    }

    .productNavButtonLeft {
        left: size(2);
    }

    .productNavButtonRight {
        right: size(2);
    }
}