@use "../../lib/styles" as *;


.contentDescription {
    @include flex(column, start, start);
    gap: size(25);
    width: $w-full;

    svg {
        color: $color-secondary;
    }

    h2 {
        font-size: size(24);
        font-weight: $semiBold;
    }

    ol {
        list-style-position: inside;
    }

    ul {
        list-style-type: none;

        li {
            display: flex;
            align-items: center;
            gap: size(15);
            margin-bottom: size(5);

            span {
                font-weight: $semiBold;
            }
        }
    }
}

.benefitList {
    @include flex(column, start, start);
    gap: size(5);

    p {
        color: #7e7e7e;
        @include flex(row, center, row);
        gap: size(10);

        span {
            font-size: size(16);
            font-weight: $normalRegular;
        }
    }
}

.productDescription {
    @include flex(column, start, start);
    gap: size(20);
    padding-bottom: size(72);

    [class*="sharedCardContainer"] {
        min-width: $w-full;
        width: $w-full;
        max-width: $w-full;
    }
}

.container {
    margin-top: size(42);
}

.productInner {
    display: grid;
    grid-template-columns: auto size(347);
    grid-gap: size(41);
}

.coverImage {
    min-height: size(400);
}


.imageContainer {
    position: relative;
    width: $w-full;
    aspect-ratio: 16 / 9;

    img {
        border-radius: size(5);
    }
}

.boxContainer {
    @include flex(column, start, start);
    padding: size(20);
    gap: 15;
}

.boxContainerInner {
    gap: size(15);
    width: $w-full;
    padding-bottom: size(15);
    border-bottom: 1px solid $color-border-neutral;


    h3 {
        font-weight: $medium;
        font-size: size(16);
    }
}

.btnAction {
    @include grid(2, size(7));
    width: $w-full;
}

.price {
    font-size: size(24);
    font-weight: $semiBold;
}

.picContainer {
    @extend .contentDescription;

    button {
        gap: size(4);
    }

    svg {
        color: $color-white
    }
}

.infoExpandContainer {
    @include flex(row, center, center);
    height: $w-full;
    gap: size(10);
    margin: auto;
}

.numberLessonItem {
    font-size: size(24);
    font-weight: $semiBold
}

.expandIconContainer {
    @include flex(row, center, center);
    border-radius: $w-full;
    background: $color-white;
    min-width: size(32) !important;
    max-width: size(32) !important;
    width: size(32) !important;
    min-height: size(32) !important;
    max-height: size(32) !important;
    height: size(32) !important;
    cursor: pointer;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $box-shadow;
    }
}

.lessonInfoContainer {
    @include flex(column, flex-start, center);
    gap: size(10);
}

.lessonInfoItem {
    @include flex(row, center, flex-start);
    gap: size(16);
    font-size: size(14)
}

.trainingContent {
    @extend .contentDescription;
}

.trainingItemContainer {
    padding: size(20);
    box-shadow: $box-shadow;
    width: $w-full;
    border-radius: size(5);
}

.trainingItemInner {
    @include grid(3);
    grid-template-columns: size(20) 74% size(50);
    position: relative;
    border-radius: size(5);
    padding: size(28);
    gap: size(16);
    background: $color-primary-neutral;
}

@media (max-width: 768px) {
    .productInner {
        grid-template-columns: 1fr;
    }

    .btnAction {
        @include position(fixed, auto, 0, 0, 0);
        grid-template-columns: size(60) size(60) auto;
        width: $w-full;
        height: size(60);
        background: $color-white;
        box-shadow: $box-shadow;
        background: $color-secondary;

        [class*='buttonContainer'] {
            @include flex(row, center, center);
            height: $w-full !important;
            max-height: $w-full !important;
            min-height: $w-full !important;

            svg {
                color: $color-white;
                font-size: size(24);
            }

            button {
                height: $w-full;
                border-radius: 0;
                width: calc(100% + 155px);
                max-width: 100%;
                font-size: size(16);
                font-weight: 600;
            }

            &:first-child {
                p {
                    display: none;
                }
            }
        }

    }

    .addToCartButton {
        @include flex(row, center, center);
        width: $w-full;
        border-radius: 0 !important;

        span {
            margin-top: size(8);
        }

        p {
            display: none;
        }
    }

    .picContainer {
        display: none;
    }

    .container {
        padding: size(16);
    }

}