@import "../../../lib/styles/index.scss";

.buttonContainer {
    [class*='default'] {
        border-radius: size(30);
        background: $color-white;
        border: 1px solid $color-secondary;
        color: $color-primary;
        font-weight: 600;
        transition: all 0.4s ease-in-out;

        &:hover {
            background: $color-secondary !important;
            color: $color-white !important;
            border: none;
        }
    }

    [class*='ant-btn-color-primary'] {
        background: $color-primary;
        border: 1px solid $color-primary;
        color: $color-white;
        border-radius: size(5);
        min-height: size(35);
        font-weight: 600;
        width: $w-full;
        transition: all 0.4s ease-in-out;


        &:hover {
            background: $color-primary !important;
            transform: translateY(-4px);
            box-shadow: 0 4px 12px $box-shadow;
        }
    }
}