@import "../../lib/styles/index.scss";

.buttonContainer {
    [class*='ant-btn-secondary'] {
        border-radius: size(30);
        background: $color-white;
        border: 1px solid $color-secondary;
        color: $color-primary;
        font-weight: 600;

        &:hover {
            background: $color-secondary;
            color: $color-white;
        }
    }
}