@import '../../lib/styles/index.scss';


.productGrid {
    @include grid(4, 16, 42);
}

.productImage {
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
    .productGrid {
        @include grid(2);
        grid-gap: size(8);
        row-gap: size(24);
        column-gap: size(8);

    }
}