@use "../../lib/styles" as *;

.carouselContainer {
    position: relative;
}

.carousel {
    @extend .scrollbar_product_carousel;
    display: flex;
    gap: size(20);
    overflow: auto;
    padding: size(16) size(0) size(6);
    scroll-behavior: smooth;
}

.documentationGroup {
    display: flex;
    gap: size(20);
    min-width: 100%;
    flex-shrink: 0;

    // For larger screens, show 3 cards in a group
    @media (min-width: 769px) {
        min-width: calc(100% / 3 * 2); // Show 2 groups at a time on desktop
    }
}

// Navigation buttons
.navButton {
    box-shadow: $box-shadow;
    position: absolute !important;
    top: 45%;
    transform: translateY(-50%);
    border-radius: 50% !important;
    width: size(40) !important;
    min-width: size(40) !important;
    max-width: size(40) !important;
    height: size(40) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    background: $color-secondary !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    transition: opacity 0.3s;

    svg {
        color: $color-white;
    }

    &:disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.navButtonLeft {
    left: size(-20);
}

.navButtonRight {
    right: size(-20);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

// Responsive design
@media (max-width: 768px) {
    .documentationGroup {
        flex-direction: column;
        gap: size(16);
        min-width: 100%;
    }

    .navButton {
        width: size(36) !important;
        height: size(36) !important;
    }

    .navButtonLeft {
        left: size(-10);
    }

    .navButtonRight {
        right: size(-10);
    }
}