@import "../../lib/styles/index.scss";

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.popularProduct {
    padding: 3rem 0 0;
}

.bannerHomeContainer {
    width: $w-full !important;
    min-width: $w-screen;
    margin-left: size(-34);

    [class*='carouselTitle'] {
        font-size: 4rem;
    }

    [class*='ant-btn-default'] {
        border: size(3) solid $color-secondary;
        background: $color-black;
        color: $color-white;
    }

    [class*='ant-btn'] {
        min-height: size(60);
        border-radius: size(100);

    }
}

.header {
    text-align: center;
    padding-bottom: size(6);
    position: relative;
}

.title {
    color: $color-black; // RSPP blue
    margin-bottom: size(40);
    font-size: size(32);
    font-weight: 600;
}

.btnAll {
    display: block !important;
    min-height: size(55);
    height: size(55);
    min-width: size(300);
    margin: size(0) auto !important;
    max-width: size(300);
}

@media (max-width: 768px) {

    .bannerHomeContainer {
        margin-left: -1rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
        padding-top: 0;
    }

    .btnAll {
        width: calc($w-screen);
        min-width: calc($w-screen - size(52));
        max-width: calc($w-screen - size(52));
    }

    .bannerHomeContainer {
        margin-left: -1rem;
        font-size: .5rem;

        [class*='carouselTitle'] {
            font-size: 1rem;
        }
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .productGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
    }
}

.aboutUs {
    @extend .scheduleDateSection;
    text-align: center;
    background: $color-border-neutral-white !important;
    padding: size(40) size(120) size(40) size(120) !important;

    h2,
    article {
        color: $color-black-soft !important;
        color: $color-white;
    }
}

.visiMisiSection {
    @extend .scheduleDateSection;
    text-align: center;
    background: linear-gradient(180deg, rgba(13, 77, 139, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%) !important;
    padding: size(40) size(120) size(40) size(120) !important;
    margin-top: 0 !important;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            @include flex(row, flex-start, flex-start);
            list-style: none;
            text-align: left;
            gap: size(8);
        }
    }
}

.misiTitle {
    margin: size(40) 0;
}

.aboutUsContainer {
    @include grid(2, 16);
    align-items: center;
    grid-template-columns: size(500) auto;

    article {
        text-align: center;
    }
}

.scheduleDateSection {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(13, 77, 139, 0.1) 100%);
    margin-top: size(40);
    padding: 0 size(120) size(40) size(120);
    min-width: 1300px;
    width: 1300px;
    max-width: 1300px;
    margin-left: size(-65);
}

.section {
    text-align: center;
    padding: size(40) 0;
}

.documentationSection {
    @extend .section;
}

.articleSection {
    @extend .section;
}

.titleArticle {
    font-size: size(32);
    margin-bottom: 0;
}

.ourTeam {
    padding: size(40) 0;
    text-align: center;
}

.btnSkeleton {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .MuiSkeleton-root {
        width: 250px;
        height: 40px;
        border-radius: 20px;
    }
}


@media (max-width: 480px) {
    .productGrid {
        grid-template-columns: 1fr;
    }
}